.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  gap: 1.75rem;
}

.post {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.post img {
  border: 1px solid purple;
  inline-size: 100%;
  block-size: 100%;
  box-sizing: border-box;
  object-fit: cover;
  border: none;
}

@media screen and (max-width: 736px) {
  .grid {
    gap: 3px;
  }
}
